.wedding-blog {
    width: 65%;
    margin: 0 auto;
    margin-top: 80px;
}

.blog-titel {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 40px;
    color: #515151;
}

.price-update {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #515151;
    margin-top: 25px;
}

.view-venue {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #515151;
    margin-top: 15px;
}

.img-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.blog-banner-div {
    padding: 0px 50px;
}

.image-function {
    width: 100%;
    margin-bottom: 15px;
}

.bloging-section {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.blog-detail {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.35;
    text-align: justify;
    color: #515151;
    margin-bottom: 15px;
}

.detail-titel {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #515151;
    margin-bottom: 15px;
}

.my-blog-img {
    width: 100%;
    margin-bottom: 15px;
}

/* =====(((heat icon+ Modal)))===== */

.modal-show {
    position: relative;
}

/* click fave hart  */

.fa-heart-o {
    color: #D7443E;
    cursor: pointer;
}

.fa-heart {
    color: rgba(81, 81, 81, 0.5);
    cursor: pointer;
}

.click-heart {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #ffff;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none !important;
    padding: 5px 4px 2px 4px;
}

.heart-tugh {
    position: relative;
}

.margen-row {
    margin-left: 0 !important;
}

/* click fave hart  */

/* ======Modal))======= */

/* check box css start */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input-form {
    display: block;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #515151;
}

.input-form input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.input-form label {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.input-form label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #F3B95A;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
    margin-top: 1px;
}

.input-form input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid #F3B95A;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
}

/* check box css end */

/* modal css start */

.modal {
    background: rgba(0, 0, 0, 0.9) !important;
    z-index: 9999;
}

.modal-backdrop {
    position: unset !important;
}

.modal-dialog {
    background: #fff !important;
}
.modal_center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    color: #fff !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 0 !important;
}

.close {
    color: #515151 !important;
    position: absolute;
    right: 25px !important;
    top: 15px !important;
    z-index: 1;
    outline: none !important;
}

.opacity-animate3 {
    animation: opt-animation3 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.modal-content {
    background: #fff !important;
    border: none !important;
    border-radius: 30px !important;
    width: 100%;
    height: 100%;
    display: block !important;
}

.modal.show .modal-dialog {
    border-radius: 24px;
    width: 30%;
}

.modal-body {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 30px !important;
    padding: 20px 0px;
}

.modal_content {
    width: 80%;
}

.hire_us_head {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: rgb(81, 81, 81);
    margin-top: 14px;
    text-align: left !important;
}

.image-add {
    font-family: 'Source Serif Pro', serif;
    background-color: #185641;
    color: #fff;
    padding: 13px 25px;
    border-radius: 6px;
    font-size: 22px;
    border: none;
    width: 100%;
    margin-top: 15px;
    outline: none !important;
}

/* modal css end */

/* modal-animation start */

@-webkit-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1174px) {
    .modal.show .modal-dialog {
        width: 80% !important;
        margin: 0 auto !important;
    }
}

/* @media (max-width: 580px){
    .modal-content{
      margin-top: 60px;
    }
  } */

/* modal animation end */

/* ====(((modal close)))==== */

/* =====(((heat icon+ Modal close)))===== */

/* @media(max-width:777px) {
    .wedding-blog {
        height: 55vh;
    }
} */

@media(max-width:677px) {
    .blog-detail {
        line-height: 25px;
        text-align: start;
    }
}

@media(max-width:375px) {
    .blog-titel {
        font-size: 24px;
        line-height: 30px;
    }
    .view-venue {
        margin-top: 0;
    }
    .price-update {
        margin-top: 12px;
    }
    /* .wedding-blog {
        height: 38vh !important;
    } */
}

@media (max-width: 580px) {
    .wedding-blog {
        width: 100%;
    }
    .img-section {
        width: 100%;
    }
    .bloging-section {
        width: 100%;
    }
    /* .wedding-blog {
        height: 44vh;
    } */
    .blog-titel {
        font-size: 22px;
        line-height: 25px;
    }
    .blog-detail {
        font-size: 14px;
        line-height: 20px;
    }
    .detail-titel {
        font-size: 20px;
        line-height: 10px;
        margin-top: 25px;
    }
}

@media(max-width:325px) {
    /* .wedding-blog {
        height: 44vh !important;
    } */
}