.budget-section {
    margin-top: 7pc;
}

.budget-head {
    font-weight: 600;
    font-size: 35px;
    font-family: 'Source Serif Pro', serif;
    color: #515151;
    margin-bottom: 30px;
}

.budget-div {
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(81, 81, 81, 0.25);
    border-radius: 20px;
}

.bg-one {
    background: #F8EDDD;
}

.bg-two {
    background: #F1BAB9;
}

.bg-three {
    background: #F3B95A;
}

.budget-div h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #515151;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.budget-div h6 {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 20px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
}

.table-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.table-section h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
    color: #515151;
}

table {
    position: relative;
    width: 100%;
}

.main-head {
    background-color: #18573F;
}

.width-one {
    width: 110px;
}

.width-two {
    width: 200px;
    /* box-sizing: border-box; */
}

.displayline h3 {
    /* margin-bottom: 20px; */
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #515151;
    text-transform: uppercase;
}

table th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    /* text-align: left; */
    vertical-align: bottom;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
    color: #fff;
}

.dlt-image {
    width: 15px;
}

table th, table td {
    padding: 1em 0em;
}

table td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #515151;
}

table.fold-table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    color: #555;
}

table.fold-table>tbody>tr.view {
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

table.fold-table>tbody>tr.view td, table.fold-table>tbody>tr.view th {
    cursor: pointer;
}

table.fold-table>tbody>tr.view td:first-child, table.fold-table>tbody>tr.view th:first-child {
    position: relative;
    padding-left: 20px;
}

table.fold-table>tbody>tr.view td:first-child:before, table.fold-table>tbody>tr.view th:first-child:before {
    position: absolute;
    top: 62%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 21px;
    font-size: 16px;
    font-family: fontawesome;
    content: url(budget.css);
    background: url(../images/dropdown.svg);
    transition: all 0.3s ease 0s;
    background-size: 60%;
    background-repeat: no-repeat;
}

.add-div a {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #515151;
}

.add-div a span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.add-div a:hover {
    color: #515151;
}

.add-div img {
    margin-right: 15px;
    width: 25px;
}

.main-head-second {
    background-color: #F8EDDD;
}

.inner-footer {
    background-color: #FFEBEB;
}

.main-head-second th {
    color: #515151;
}

table.fold-table>tbody>tr.view:nth-child(4n-1) {
    background: #fff;
}

table.fold-table>tbody>tr.view:hover {
    background: #fff;
}

table.fold-table>tbody>tr.view.open {
    color: white;
}

table.fold-table>tbody>tr.view.open td:first-child:before, table.fold-table>tbody>tr.view.open th:first-child:before {
    top: 20%;
    transform: rotate( -180deg);
    color: white;
    left: 35%;
}

table.fold-table>tbody>tr.fold {
    display: none;
}

table.fold-table>tbody>tr.fold.open {
    display: table-row;
}

.fold-content h3 {
    margin-top: 0;
}

.fold-content>table {
    background: white;
    color: #555;
}

.fold-content>table>tbody>tr {
    font-family: 'Droid Serif', serif;
    cursor: pointer;
}

.fold-content table tbody tr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.fold-content>table>tbody>tr:nth-child(even) {
    background: #FFF;
}

.fold-content>table>tbody>tr:hover {
    background: #FFF;
}

.visible-small {
    display: none;
}

.visible-big {
    display: block;
}

/* modal css */

.modal_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-inner-div h2 {
    font-weight: 600;
    font-size: 28px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.vender-input {
    width: 100%;
    border: 1px solid rgba(10, 20, 47, 0.3);
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.add-event {
    line-height: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/drop_down_arrow.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 22px;
    opacity: 1;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid rgba(10, 20, 46, 0.3);
    outline: none;
    border-radius: 5px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
}

.add-btn {
    border: none;
    outline: none !important;
    background: #185641;
    border-radius: 5px;
    padding: 10px 80px;
    font-size: 18px;
    font-family: 'Source Serif Pro', serif;
    color: #fff;
}

@media (min-width: 576px) {
    .modal_center {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .budget-head, .budget-div h2, .budget-div h6, .budget-div h6 {
        font-size: 25px;
    }
    table th {
        font-size: 18px;
    }
    table td, .add-div a span {
        font-size: 16px;
    }
    .width-one {
        min-width: 110px;
    }
    .width-two {
        min-width: 180px;
    }
    .add-div img {
        width: 20px;
        margin-right: 10px;
    }
}