html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Serif Pro', serif;
}
body {
    overflow: hidden;
}

.home-section {
    overflow-y: scroll;
    height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #185641;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.logo_name {
    font-family: 'Source Sans Pro', sans-serif;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    overflow-y: scroll;
    margin-top: 20px;
    height: 100%;
}
.nav-list {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.nav-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    width: 140px;
    color: #fff;
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #F3B95A;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar li a {
    margin-bottom: 25px;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    /* background: #11101d; */
}

.sidebar li a:hover {
    /* background: #fff; */
}

.sidebar li a:hover .links_name {
    transition: all 0.5s ease;
    color: #fff;
}

.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101d;
}

.sidebar li a .links_name {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}

.sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar li.profile .name {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar.open .logo-details .icon {
    opacity: 1;
}

.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section {
    position: relative;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.main-div {
    width: 90%;
    margin: 0 auto;
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}

.main-profile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-profile img {
    width: 60px;
    margin-right: 15px;
}

.main-profile span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #515151;
}

.chat-msg {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
}

.msg {
    margin-bottom: 10px;
}

.msg h3 {
    width: fit-content;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F1F1F1;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 16px;
    color: #515151;
    margin-bottom: 2px;
    border-radius: 10px;
    position: relative;
}

.msg h3::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -9px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid #F1F1F1;
}

.msg small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #515151;
}

.msg-user {
    margin-bottom: 10px;
    text-align: right;
}

.msg-user h3 {
    width: fit-content;
    margin: 0 auto;
    margin-right: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3B95A;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    margin-bottom: 2px;
    border-radius: 10px;
    position: relative;
}

.msg-user h3::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -9px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid #F3B95A;
}

.msg-user small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #515151;
}

.submit-div {
    padding-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap: 15px;
}

.msg-input {
    width: 94%;
}

.msg-input input {
    border: 0px;
    outline: none;
    color: rgba(81, 81, 81, 1);
    font-family: 'Source Sans Pro', sans-serif;
    background: #EBEBEB;
    border-radius: 5px;
    width: 100%;
    padding: 13px;
    font-weight: normal;
    font-size: 18px;
}

.send-btn-div {
    width: 4%;
}

.send-btn-div button {
    background: transparent;
    border: none;
    outline: none;
}

.send-btn-div button img {
    width: 40px;
}
.position {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    position: sticky;
    bottom: 0px;
    padding-bottom: 10px;
}

@media (max-width:1199px) {
    .msg-input {
        width: 92%;
    }
}

@media (max-width:992px) {
    .msg-input {
        width: 91%;
    }
    .sidebar.open {
        width: 200px;
    }
    .sidebar.open~.home-section {
        left: 200px;
        width: calc(100% - 200px);
    }
}
@media (max-width: 767px) {
    .main-div {
        width: 95%;
    }
    .sidebar.open {
        width: 175px;
    }
    .sidebar.open~.home-section {
        left: 175px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 576px) {
    .sidebar.open~.home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
    .msg-input {
        width: 77%;
    }
} 