.todo-first-section {
    margin-top: 7pc;
}

.progres-div {
    width: 45%;
    margin: 0 auto;
}

.progres-div p {
    font-weight: normal;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.progress {
    height: 0.6rem;
    border-radius: 1rem;
    background-color: #EEEEEE;
}
.ui.calendar .ui.table tr .prev.link {
    width: 14.28571429%;
    position: absolute;
    left: 15px;
    top: 10px;
}
.ui.calendar .ui.table tr .next.link {
    width: 14.28571429%;
    position: absolute;
    right: -20px;
    top: 10px;
}
/* slider */
.slick-track {
    padding-top: 30px;
}
.slide {
    height: 100px !important;
    border-left: 1px solid #F3B95A;
    border-right: 1px solid #F3B95A;
    position: relative;
    display: flex !important;
    align-items: flex-end;
}
.slide h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #515151;
    position: absolute;
    top: -15px;
    left: 0px;
    border-bottom: 1px solid #515151;
    line-height: 11px;
}
.arrows-list img {
    width: 20px;
}
.right-div {
    height: 20px;
    background-color: #F1BAB9;
}
.left-div {
    height: 20px;
    background-color: #185641;
}
.arrows-list {
    display: inline-block;
}
.arrows-list li {
    font-size: 45px;
    color: #515151;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    z-index: 9;
}
.prev {
    left: -35px;
}
.next {
    right: -70px;
}
.todo-head {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 20px;
}

.your-search-div h3 {
    font-weight: 600;
    font-size: 20px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.your-search-div button {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 15px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    outline: none;
    border-radius: 20px;
}

.completed::before {
    content: "\2022";
    position: relative;
    top: 10px;
    left: 0%;
    color: #185641;
    font-size: 60px;
    line-height: 10px;
}

.incompleted::before {
    content: "\2022";
    position: relative;
    top: 10px;
    left: 0%;
    color: #F1BAB9;
    font-size: 60px;
    line-height: 10px;
}

.completed-list li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #515151;
    padding: 5px;
}
.completed-list li a.active {
    border-left: 2px solid #000;
}
.overline {
    text-decoration: line-through;
}

.completed-list li a span:first-child {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10px;
    width: 125px;
    display: inline-block;
}

.completed-list li span:last-child {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 30px;
}

.status {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.add-task-div {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    padding: 5px 15px;
}

.add-task-div a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    color: #515151;
}

.add-task-div a img {
    margin-right: 10px;
    width: 23px;
}
.add-task-div a span {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3px;
}

.add-task-div a:hover {
    color: #515151;
}
@media (min-width: 576px) {
    .modal-width {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}


.padd {
    padding: 0rem 0px;
}

.modal_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.modal-inner-div h2 {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    font-size: 28px;
    margin: 0px 0px 15px 0px;
    text-align: center;
    color: 
    #515151;
}

.modal-inner-div p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

.radio-main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radio {
    margin: 0.5rem;
    flex-basis: 44%;
}

.radio label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #515151;
}

.radio input[type=radio] {
    position: absolute;
    opacity: 0;
}

.radio input[type=radio]+.radio-label:before {
    content: "";
    background: #ffff;
    border-radius: 100%;
    border: 1px solid #F3B95A;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 0.4em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type=radio]:checked+.radio-label:before {
    background-color: #F3B95A;
    box-shadow: inset 0 0 0 4px #ffff;
}

.radio input[type=radio]:focus+.radio-label:before {
    outline: none;
    border-color: #F3B95A;
}

.radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #ffff;
    border-color: #ffff;
    background: #ffff;
}

.radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0;
}

.task_add {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #515151;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.5;
}

.add-btn {
    outline: none !important;
    border: none;
    background: #185641;
    color: #FFF;
    font-family: 'Source Serif Pro', serif;
    padding: 15px 50px;
    border-radius: 5px;
}

.add-event {
    line-height: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/drop_down_arrow.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 22px;
    opacity: 0.5;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #0A142F;
    outline: none;
    border-radius: 5px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
}

.add-event:focus, .task_add:focus {
    opacity: 1;
}

.add-event-btn {
    font-family: 'Source Serif Pro', serif;
    padding: 15px 80px;
    font-size: 18px;
    font-weight: 600;
    background-color: #205B47;
    color: #fff;
    border: none;
    outline: none !important;
    border-radius: 5px;
}

/* date range picker csss */

.ui.input {
    width: 100%;
}

.ui[class*="left icon"].input>input {
    padding: 15px 10px !important;
}

.ui[class*="left icon"].input>i.icon {
    left: unset !important;
    right: 0px !important;
}

.ui.input input:focus {
    border-color: rgba(81, 81, 81, 1) !important;
    background: #FFF;
    color: #515151;
    box-shadow: none;
}

.ui.input {
    opacity: 1 !important;
    margin-bottom: 20px;
}

.ui.input input {
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgba(81, 81, 81, 0.5) !important;
    opacity: 1 !important;
    color: #515151 !important;
}

.ui.icon.input>i.icon:not(.link) {
    cursor: pointer !important;
}

.ui.icon.input>i.icon {
    color: #F3B95A;
}

.over-due-task-div> h2 {
    font-weight: normal;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.over-due-main-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 15px 15px;
    margin-bottom: 20px;
}

.over-deu-left-div, .over-deu-right-div {
    display: flex;
    align-items: center;
}

.over-deu-left-div-child-one, .over-deu-right-div-child-one {
    margin-right: 15px;
}

.over-deu-left-div-child-two h2 {
    font-weight: normal;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
}

.over-deu-left-div-child-two p {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* .over-deu-left-div-child-one img {
    width: 25px;
} */
.over-deu-right-div-child-one img {
    width: 20px;
}
.over-deu-right-div-child-two img {
    width: 18px;
}
/* responsiveness */
@media (max-width: 1199px) {
    .arrows-list li img {
        width: 20px;
    }
    .prev, .next {
        top: -30%;
    }
    .prev {
        left: 30px;
    }
    .next {
        left: 75px;
        right: auto;
    }
}

@media (max-width: 992px) {
    .todo-head {
        margin-top: 20px;
    }
    .prev {
        left: 60px;
    }
    .next {
        left: 100px;
        right: auto;
    }
    .completed-list li a {
        font-size: 14px;
    }
    .completed::before {
        top: 8px;
        font-size: 45px;
    }
    .completed-list li a span:first-child {
        margin-left: 12px;
        width: 85px;
    }
    .incompleted::before {
        top: 8px;
        font-size: 45px;
    }
    .completed-list li a span:last-child {
        margin-left: 10px;
    }
}
@media (max-width: 767px) {
    .arrows-list {
        display: none;
    }
    .progres-div {
        width: 100%;
    }
    .progres-div p {
        text-align: center;
    }
    .main-todo-section {
        margin-top: 20px;
    }
    .slide h6 {
        left: 2px;
    }
}

@media(max-width: 576px) {
    .progres-div {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}