.vene-main {
    height: 100vh;
    margin-top: 30px;
}

.wedding-types {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titel-hiding {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #515151;
}

.about-venue {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #515151;
    line-height: 40px;
}

.slick-list {
    padding: 0px 50px 0px 0px !important;
}

.detail-vanue {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    /* text-align: justify;  */
    color: #515151;
}

.vender-add {
    background: #F3B95A;
    border-radius: 6px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none !important;
    padding: 15px 30px;
    margin-top: 40px;
}

.click-add {
    margin-left: 10px;
    font-family: 'Source Serif Pro', serif;
}

.more-detail {
    margin-bottom: 30px;
}

.learn-more {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #515151;
    margin-top: 15px;
}

.facilitie-titel {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    color: #515151;
    margin-top: 10px;
}

.titel-more-hiding {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #515151;
    margin-top: 50px;
}

.our-facilitie ul {
    list-style: disc;
    padding-left: 18px;
}

.implement-tag li {
    font-family: 'Source Sans Pro', sans-serif;
}

.implement-tag {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #515151;
}

.contect-us {
        text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 15px rgb(81 81 81 / 5%);
    border-radius: 20px;
    padding: 50px;
}

.contect-titel {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #515151;
    margin-bottom: 10px;
}

.our-price {
    background: #B5B9C1;
    color: #515151;
    border-radius: 6px;
    padding: 15px 30px;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: none;
    text-decoration: none !important;
    outline: none !important;
}


/* ===Form=== */

.form-control {
    padding: 25px 15px;
}


/* ====Drope down==== */


/*Dropdown*/

.dropdown {
    width: 100%;
    border: 0.1em solid #c0cdd1;
    padding: 7px 12px 6px 8px;
    border-radius: 4px;
}

.drop-form {
    padding: 25px 10px;
}

.js-link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #6f6e6e;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
}

.js-linkt:focus {
    background: #ecf0f1;
}

.js-link:active {
    background: #fbfcfc;
}


/* .fa {
float: right;
} */

.js-link:hover {
    color: #515151;
}


/*List*/

.js-dropdown-list {
    display: none;
    border-top: 0.1em solid #c0cdd1;
}

.slect-option {
    cursor: pointer;
    padding: 10px;
}

.slect-option:not(:first-child) {
    border-top: 0.1em dashed #dde4e6;
}

.slect-option:focus,
.slect-option:hover {
    background: #ecf0f1;
}

.slect-option:active {
    background: #fbfcfc;
}

.fa-chevron-down {
    color: #F3B95A !important;
}


/* ====Drope down==== */

.my-mape {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #515151;
}

.locaton-icon {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.our-contect {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-left: 10px;
}

.lovation-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fiend-location {
    margin-top: 30px;
    margin-bottom: 30px;
}

.map-checkin {
    width: 100%;
    padding-top: 30px;
}


/* =====carisul-clider===== */

.wrapper {
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
}

.carousel {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: 5px;
}

.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
}
/* check box css start */

.form-group {
    display: block;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #515151;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #F3B95A;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
    /* margin-bottom: 0px; */
    margin-top: 1px;
}

.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid #F3B95A;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
}

/* ======Modal))======= */

/* modal css start */

.modal {
    background: rgba(0, 0, 0, 0.9) !important;
    z-index: 9999;
}

.modal-backdrop {
    position: unset !important;
}

.modal-dialog {
    background: #fff !important;
}

.modal_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    color: #fff !important;
    font-size: 1.5rem !important;
    border: none !important;
    border-radius: 0 !important;
}

.close {
    color: #515151 !important;
    position: absolute;
    right: 25px !important;
    top: 15px !important;
    z-index: 1;
    outline: none !important;
}

.opacity-animate3 {
    animation: opt-animation3 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.modal-content {
    background: #fff !important;
    border: none !important;
    border-radius: 30px !important;
    width: 100%;
    height: 100%;
    display: block !important;
}

@media (min-width: 576px) {
    .modal.show .modal-dialog {
        border-radius: 24px;
        width: 400px;
    }
}

.modal-body {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 30px !important;
    padding: 20px 0px;
}

.modal_content {
    width: 80%;
}

.hire_us_head {
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: rgb(81, 81, 81);
    margin-top: 14px;
    text-align: left !important;
}

.image-add {
    font-family: 'Source Serif Pro', serif;
    background-color: #185641;
    color: #fff;
    padding: 13px 25px;
    border-radius: 6px;
    font-size: 22px;
    border: none;
    width: 100%;
    margin-top: 15px;
    outline: none !important;
}

/* modal css end */

/* modal-animation start */

@-webkit-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* @media (max-width: 992px){
  .modal.show .modal-dialog{
      width:auto;
    }  
} */

@media (max-width: 1174px) {
    .modal.show .modal-dialog {
        width: 80% !important;
        margin: 0 auto !important;
    }
}

@media (max-width: 580px) {
    .modal-content {
        margin-top: 60px;
    }
}

/* modal animation end */

/* ====(((modal close)))==== */

/* check box css end */

.contact-input {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgba(10, 20, 47, 0.3);
    border-radius: 5px;
    width: 100%;
    color: #515151;
    outline: none;
    margin-bottom: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/datepicker_calendar_yellow.svg');
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/dropdown_yellow.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 18px;
  }


/* =====carisul-clider close===== */

@media (max-width: 991px) {
    .wrapper {
        height: 70vh;
    }
    .wedding-types {
        height: 65vh;
    }
    .vene-main {
        height: auto;
    }
    .more-detail {
        margin-top: 0;
    }
    .titel-more-hiding {
        margin-top: 10px;
    }
    .vender-add {
        margin-top: 20px;
    }
}

@media (max-width: 526px) {
    .wedding-types {
        height: 75vh;
    }
    .wrapper {
        height: auto;
    }
    .our-vanue {
        width: 90%;
    }
    .top-off {
        margin-top: 35px !important;
    }
    .modal-content {
        margin-top: 60px;
    }
}

@media(max-width: 375px) {
    .lovation-in {
        flex-direction: column;
    }
    .contect-us {
        padding: 30px;
    }
}