.wedding-servey-section {
    margin-top: 6pc;
}

.custom-container {
    width: 90%;
    margin: 0 auto;
}

.wedding-main-div h2 {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    font-size: 35px;
    color: #18573F;
    margin-top: 20px;
    margin-bottom: 40px;
}

.wedding-main-div p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #515151;
    margin-bottom: 40px;
}

.survey-form-div {
    margin-bottom: 50px;
}

.survey-form-div h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 5px;
}

.survey-input {
    padding: 10px 0px;
    border: 0px;
    border-bottom: 2px solid #F3B95A;
    outline: none;
    width: 100%;
    color: rgba(81, 81, 81, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar-green.svg');
    cursor: pointer;
}

.desktop-preview {
    width: 100%;
}

.mobile-preview {
    position: absolute;
    left: -80px;
    bottom: 0px;
    z-index: 2;
}

.survey-form-div textarea {
    outline: none;
    padding: 10px 15px;
    border: 2px solid #F3B95A;
    width: 100%;
    margin-top: 10px;
    color: rgba(81, 81, 81, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
}

.wedding-servey-gallery h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #515151;
}

/* image upload input */

.avatar-upload {
    position: relative;
    margin: 30px 0px 50px 0px;
}

.avatar-upload h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 25px;
    color: #515151;
    margin-bottom: 20px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: -13px;
    z-index: 1;
    bottom: -17px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #F3B95A;
    border: 1px solid #F3B95A;
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

/* .avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
} */

.avatar-upload .avatar-edit input+label:after {
    content: "";
    background-image: url(../images/icon-upload-plus.svg);
    background-size: 15px 15px;
    color: #fff;
    position: absolute;
    top: 9px;
    left: 2px;
    right: 0;
    text-align: center;
    margin: auto;
    width: 15px;
    height: 15px;
}

.avatar-upload .avatar-preview {
    width: 160px;
    height: 160px;
    position: relative;
    border: 2px solid #F3B95A;
    border-radius: 10px;
}

.avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-upload p {
    font-size: 16px;
    color: #515151;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 10px 0px;
}

.uploaded-images-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-uploaded-one {
    width: 160px;
    height: 160px;
}

.image-uploaded-one img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.schedule-section {
    margin-bottom: 30px;
}

.schedule-section h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #515151;
    margin-bottom: 20px;
}

.secedule-card {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #F3B95A;
}

.secedule-card-body h4 {
    font-weight: 600;
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #18573F;
}

.secedule-card-body button {
    border: none;
    outline: none !important;
    background: transparent;
}

.secedule-card-body button img {
    width: 22px;
}

.secedule-card-body h3 {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
}

.secedule-card-body h3 img {
    width: 18px;
    margin-right: 7px;
}

.secedule-card-body h3 span {
    font-family: 'Source Sans Pro', sans-serif;
}

.registry-section {
    padding-bottom: 30px;
}

.registry-section h3 {
    font-weight: 600;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
    color: #515151;
}

.addition-email-div {
    position: relative;
}

.addition-email-div input {
    border-bottom: 2px solid #A8A8A8;
}

.addition-email-div img {
    width: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.save-survey-btn {
    font-family: 'Source Serif Pro', serif;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background: #18573F;
    border: none;
    outline: none !important;
    border-radius: 6px;
}

/* modal css */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 550px;
        margin: 1.75rem auto;
    }
}

.modal_center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-event-content {
    padding: 1em 1.5em;
    width: 100%;
}

.edit-event-content h2 {
    font-weight: bold;
    font-size: 30px;
    color: #515151;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.edit-event-div {
    margin-bottom: 10px;
}

.edit-event-div label {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    color: #515151;
}

.edit-event-div input, .edit-event-div textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(10, 20, 46, 0.3);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color: #515151;
    outline: none;
}

.save-event-div {
    text-align: center;
}

.save-event-div button {
    width: 250px;
    border-radius: 5px;
    padding: 10px 0px;
    border: none;
    outline: none !important;
    background: #18573F;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Source Serif Pro', serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/clock-icon.svg');
    cursor: pointer;
}

@media(max-width:992px) {
    .small-screen {
        display: none;
    }
    .wedding-servey-section {
        margin-top: 4pc;
    }
    .margin-top {
        margin-top: 3rem;
    }
    .wedding-main-div h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .wedding-main-div p {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .survey-form-div h3 {
        font-size: 22px;
    }
    .survey-form-div {
        margin-bottom: 30px;
    }
    .wedding-servey-gallery h2 {
        font-size: 22px;
    }
    .avatar-upload h3 {
        font-size: 18px;
    }
    .schedule-section h2 {
        font-size: 22px;
    }
    .secedule-card-body h4 {
        font-size: 20px;
    }
    .secedule-card-body h3 {
        font-size: 16px;
    }
    .registry-section h3 {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    .secedule-card-body h3 {
        font-size: 12px;
        align-items: center;
    }
    .wedding-main-div h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .survey-form-div h3 {
        font-size: 18px;
    }
    .survey-form-div {
        margin-bottom: 25px;
    }
    .wedding-main-div p {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .wedding-servey-gallery h2 {
        font-size: 16px;
    }
    .avatar-upload h3 {
        font-size: 14px;
    }
    .avatar-upload p {
        font-size: 14px;
    }
    .schedule-section h2 {
        font-size: 18px;
    }
    .secedule-card-body h4 {
        font-size: 16px;
    }
    .registry-section h3 {
        font-size: 18px;
    }
    .secedule-card-body button img {
        width: 16px;
    }
    .edit-event-content h2 {
        font-size: 22px;
    }
    .edit-event-content {
        padding: 1em 0em;
    }
    .save-event-div button {
        width: 100%;
    }
}